@model HrTool.WEB.Models.EmployeeDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />

    <h4>Personal Details:</h4>
    
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.UMCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.UMCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.MobPhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.MobPhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.HomePhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.HomePhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.MaritatStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.MaritatStatus)
        </dd>
        </dl>

    <p>
        @Html.ActionLink("Edit", "EditBasicEmploymentDetails", new { id = Model.EmployeeId })

    </p>
    <hr />
    <h4>Employment Details:</h4>
   
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.ContractType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.ContractType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.EmploymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.EmploymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.RecommendedByEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.RecommendedByEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.AccountNumber)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "EditBasicEmploymentDetails", new { id = Model.EmployeeId })

    </p>

    <h5>Wage:</h5>
  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.Wage.InitialWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.Wage.InitialWage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.Wage.CurrentWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.Wage.CurrentWage)
        </dd>

    </dl>

    <h5>Benefits:</h5>
  
    <dl class="dl-horizontal">
        @if (Model.EmploymentDetails.Benefits == null || Model.EmploymentDetails.Benefits.Count == 0)
        {
            <dd>Nothing to show...</dd>
        }
        else
        {
                
        }
    </dl>

    <h5>Trainings:</h5>
  
    <dl class="dl-horizontal">

        @if (Model.EmploymentDetails.Trainings == null || Model.EmploymentDetails.Trainings.Count == 0)
        {
            <dd>Nothing to show...</dd>
        }
        else
        {

        }

    </dl>

    <h5>Conferences:</h5>
   
    <dl class="dl-horizontal">

        @if (Model.EmploymentDetails.Conferences == null || Model.EmploymentDetails.Conferences.Count == 0)
        {
            <dd>Nothing to show...</dd>
        }
        else
        {

        }

    </dl>

    <h5>Certificates:</h5>
    
    <dl class="dl-horizontal">

        @if (Model.EmploymentDetails.Certificates == null || Model.EmploymentDetails.Certificates.Count == 0)
        {
            <dd>Nothing to show...</dd>
        }
        else
        {

        }

    </dl>

    <h5>Education:</h5>
    
    <dl class="dl-horizontal">

        @if (Model.EmploymentDetails.Education == null || Model.EmploymentDetails.Education.Count == 0)
        {
            <dd>Nothing to show...</dd>
        }
        else
        {

        }

    </dl>

    <h5>WageBonuses:</h5>
    
    <dl class="dl-horizontal">

        @if (Model.EmploymentDetails.WageBonuses == null || Model.EmploymentDetails.WageBonuses.Count == 0)
        {
            <dd>Nothing to show...</dd>
        }
        else
        {

        }

    </dl>
</div>

