@model HrTool.WEB.Models.EmployeeDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EmployeeDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>


        @*PERSONAL DETAILS*@

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.UMCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.UMCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.MobPhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.MobPhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.HomePhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.HomePhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.MaritatStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.MaritatStatus)
        </dd>

        @*EMPLOYMENT DETAILS*@
        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.ContractType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.ContractType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.EmploymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.EmploymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.RecommendedByEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.RecommendedByEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.Wage.InitialWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.Wage.InitialWage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.Wage.CurrentWage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.Wage.CurrentWage)
        </dd>

        @* WAGE *@



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
