@model HR_Tool.Models.EmployeeModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.UMCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.UMCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.MobPhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.MobPhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.HomePhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.HomePhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalDetails.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalDetails.Address)
        </dd>
        
@******@

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentDetails.ContractType)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.ContractType)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.EmploymentDetails.EmploymentType)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.EmploymentType)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.EmploymentDetails.RecommendedByEmployee)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.RecommendedByEmployee)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.EmploymentDetails.AccountNumber)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.AccountNumber)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.EmploymentDetails.Wage.CurrentWage)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.Wage.CurrentWage)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.Wage.InitialWage)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EmploymentDetails.Wage.InitialWage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
